.link{
display: block;
width: 100%;
height: 100%;
}

.link :hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s;
}

.red{
    color: #fff;
    height: 100%;
    width: 100%;
    background-color: red;
    border: none;
}

.borderWhite{
    font-size: 18px;
    height: 100%;
    width: 100%;
    background-color: none;
    color: #fff;
    border: #fff;
}
.borderRed{
    width: 100%;
    height: 100%;
    font-size: 18px;
    background-color: none;
    color: red;
    border: 2px solid red;
}



    

