.contact{
    .contactShowCase{
        display: flex;
        align-items: center;
        background-image: url('../../assets/kontactimg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}