Footer{
    background-color: #313539;
    color: #ffffff51;
    padding: 5% 3% 1%;
}

.Footercards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
    justify-content: space-between;
    gap: 3%;
   
    .card{
        // width: 25%;
        img{
            width: 100px;
        }
    }

}
.footerend{
    margin-top: 5%;
    display: flex;
    gap: 2%;
    justify-content: space-evenly;
}

